@* Default layout - May not be used as all views specify their own layout *@
@* TODO: Check if this layout is actually used. If not, consider removing it. *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_Platform_Ass1.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Commerce_Platform_Ass1.Web.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span>E</span>Shopper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Home"
                               asp-action="Index">
                                <i class="fas fa-home me-1"></i> Trang chủ
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger fw-bold" asp-controller="Admin" asp-action="Index">
                                    <i class="fas fa-user-shield me-1"></i> Admin
                                </a>
                            </li>
                        }
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                                <!-- CUSTOMER -->
                            @if (User.IsInRole("Customer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                       asp-controller="Cart"
                                       asp-action="Index">
                                        <i class="fas fa-shopping-cart me-1"></i> Giỏ hàng
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                       asp-controller="Order"
                                       asp-action="History">
                                        <i class="fas fa-history me-1"></i> Lịch sử đơn hàng
                                    </a>
                                </li>
                            }

                                <!-- SELLER -->
                            @if (User.IsInRole("Seller"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                       asp-controller="Products"
                                       asp-action="Index">
                                        <i class="fas fa-box me-1"></i> Quản lý sản phẩm
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                       asp-controller="Order"
                                       asp-action="SellerOrders">
                                        <i class="fas fa-receipt me-1"></i> Đơn hàng của shop
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                        asp-controller="Cart"
                                        asp-action="Index">
                                        <i class="fas fa-shopping-cart me-1"></i> Giỏ hàng
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                        asp-controller="Order"
                                        asp-action="History">
                                        <i class="fas fa-history me-1"></i> Lịch sử đơn hàng
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center"
                                   href="#"
                                   id="userDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <i class="fas fa-user-circle me-2"></i>
                                                        @User.Identity!.Name
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end shadow"
                                    aria-labelledby="userDropdown"
                                    style="min-width: 260px;">

                                    <!-- HEADER -->
                                    <li class="px-3 py-3 text-white"
                                        style="background:#d8a39d; border-radius:6px 6px 0 0;">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-circle fa-2x me-2"></i>
                                            <div>
                                                <div class="fw-bold">@User.Identity!.Name</div>
                                                <small>@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</small>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- MENU -->
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user me-2"></i>Hồ sơ của tôi
                                        </a>
                                    </li>

                                    <!-- CUSTOMER -->
                                    @if (User.IsInRole("Customer"))
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                                asp-controller="Shop"
                                                asp-action="RegisterShop">
                                                <i class="fas fa-store me-2"></i>Đăng ký shop
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                                asp-controller="Order"
                                                asp-action="History">
                                                <i class="fas fa-history me-2"></i>Lịch sử đơn hàng
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                                asp-controller="Wallet"
                                                asp-action="Index">
                                                <i class="fas fa-history me-2"></i>Ví của tôi
                                            </a>
                                        </li>
                                     }

                                    <!-- SELLER -->
                                        @if (User.IsInRole("Seller"))
                                        {
                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="Products"
                                                   asp-action="Index">
                                                    <i class="fas fa-box me-2"></i>Đơn hàng
                                                </a>
                                            </li>
                                        }
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-cog me-2"></i>Cài đặt
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <!-- LOGOUT -->
                                    <li>
                                        <form asp-controller="Authentication"
                                              asp-action="Logout"
                                              method="post">
                                            <button type="submit"
                                                    class="dropdown-item text-danger">
                                                <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Đăng ký</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid footer text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold">
                        <span class="footer-logo border px-3 mr-1">E</span>Shopper
                    </h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a asp-controller="Home" asp-action="Index" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a href=""><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                             <a asp-controller="Home" asp-action="Index" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a href="" class="mb-2"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a href=""><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3 w-100" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4 footer-bottom">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">E-Commerce Platform</a>. All Rights Reserved.
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="https://technext.github.io/eshopper/img/payments.png" alt="Payments">
            </div>
    </div>
</div>
    <!-- Footer End -->

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.back-to-top').fadeIn('slow');
            } else {
                $('.back-to-top').fadeOut('slow');
            }
        });
        $('.back-to-top').click(function () {
            $('html, body').animate({scrollTop: 0}, 1500, 'easeInOutExponential');
            return false;
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
